html {
  background-color: #f3efde;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "jaf-facitweb", sans-serif;
  color: #780012;
}

header {
  height: 270px;
  background-color: #780012;
}

header h1 {
  margin: 0;
  padding: 0;
}

header a {
  color: #f3efde;
  text-decoration: none;
}

#moo {
  background-color: #f3efde;
  mask: url(#moo);
  -webkit-mask: url(/imgs/moo.svg) top center / cover;
  -o-mask: url(/imgs/moo.svg) top center / cover;
  -ms-mask: url(/imgs/moo.svg) top center / cover;
  height: 200px;
  width: 600px;
}

#skirt {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 2em;
  width: 600px;
}

blockquote {
  margin: 0;
  padding: 0;
}

#testimonials {
  font-size: 3em;
  margin-top: 2em;
}

figure:after {
  content: '';
  display: table;
  clear: both;
  margin-bottom: 2em;
}

blockquote {
  background-color: #fff;
  border-radius: 0.1em;
  padding: 0.5em 0.8em;
  margin: 0 0 1em;
}

blockquote p {
  margin: 0;
}

figcaption img {
  height: 100.5px;
  width: 100.5px;
}

figcaption b {
  content: '';
  display: table;
  clear: both;
}

p.intro {
  font-size: 1.2em;
  font-weight: bold;
}

a {
  color: #3b000b;
  text-decoration: none;
  padding: 0.1em 0.2em;
  margin: -0.1em -0.2em;
}

a:hover {
  color: #4c3c3f;
  background-color: #e3daa4;
}
