<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=400">

    <script src="/scripts/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript" src="//use.typekit.net/txz4xwr.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>

    <script>minispade.require('app');</script>
  </body>
</html>
